
html, body {
    max-height: 100%;
    max-width: 100%;

    margin: 0;
    padding: 0;
    line-height: 1.15;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

select {
    background-color: #021967 ;
    color:#EDEBEA;
   
    border: solid #EDEBEA;
}

option {
    background-color: #021967 ;
    color:#EDEBEA;
    font-size: large;
}

div {
    display:flex;
    align-items: center;
}

nav {
    display:flex;
    align-items: space-between;
}

.iconGroup {
    display: flex;
    flex-direction: row;
}

.leftGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
hr{
    width:80%;
    border-color: #EDEBEA;
}

main{
    display:flex;
    flex-direction: column;
}

section {
    display:flex;
}

article {
    display:flex;
}

p {
    font-size: larger;
    color:#EDEBEA;
    font-weight: 500;
    margin: 5px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
}

.proText {
    padding: 10px 15px 30px 15px;  
}

.contact {
    font-size:larger;
    font-weight: 400;
}

form {
    margin: 5;
    padding: 5;
    color: #EDEBEA;
}

.bold {
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-size: x-large;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color: #EDEBEA;
}

ol {
    color: #EDEBEA;
    font-size: x-large;
}
header {
    width: 100%;
    position: sticky;
    top: 0;
    border-style:solid;
    color:#EDEBEA;
    background-color: #021967 ;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 1;
}

footer {
    width: 100%;
    margin-top: auto;

    border-style:solid;
    color:#EDEBEA;
    background-color: #021967 ;
    justify-content: center;
}

.backToTop {
    background-color: #EDEBEA;
    color: #021967;
    padding: 5px 20px;
    border-radius: 10px;
}

.backToTop:hover {
    background-color: #946f5a67;
}

a {
    color:#EDEBEA; 
    text-decoration: none; 
    font-size: larger;
}

a:focus {
    outline: 4px solid red; 
    outline-offset: 2px;
}

a:hover {
    color: #946F5A;
    border-color: #946F5A ;
}

h1 {
    margin: 5px;
    color:#EDEBEA;
    text-decoration: underline;
}

h2 {
    font-size: xx-large;
    margin:10px;
    color:#EDEBEA;
    text-decoration: underline;
    font-family: "DM Sans", sans-serif;
}

h3 {
    font-size: xx-large;
    margin: 10px;
    color:#EDEBEA;
    text-decoration: underline;
    font-family: "DM Sans", sans-serif;
}

h4 {
    font-size: xx-large;
    color:#EDEBEA;
    text-decoration:none;
    padding:0;
    margin: 10px;
    font-family: "DM Sans", sans-serif;
}


#fullPage {
    min-height: 100vh;
    width: 100%;
    display: block;
    background-color:#707070;
}

#intro {
    align-items: center;
    padding: 15px;
    width: 100%;
    height: auto;
}

.mePicture {
    display: flex;
    border-radius: 100px;
    width: 100%;
    height: auto;
    max-width: 300px;
}

#aboutMe {
    padding: 10px;
    font-size: larger;
}

#game{
    padding: 10px;
    margin: 10px;
    align-items: center;
}

#tools {
    padding: 10px;
    margin: 10px;
    align-items: center;
}

#contentWrapper {
    background-color: #2C42AF ;
    border-style:solid;
    color:#021967 ;

    padding: 30px;
    height: auto;
    width: 100%;
    align-items: center;
}

#schoolWork {
    padding: 10px;
    margin: 10px;
    align-items: center;
}

#skillsWrapper {
    padding: 10px 10px 25px 10px;
    margin: 10px;
    align-items: center;
}

#featuredProjects{
    padding: 10px;
    margin: 10px;
    align-items: center;
    width:100%;
    height: auto;
}

.linksHeader {
    
    border-color: #EDEBEA ;
    border-style: solid;
    border-radius: 10px;
    font-size: x-large;
    margin: 10px;
    padding:5px;
}

.bb {
    background-color:#021967;
    border-radius: 50px;
    scroll-margin-top: 165px;
    padding: 10px;
    margin: 10px;
}

.lb {
    background-color:#2C42AF;
    border-radius: 25px;
    padding: 2px 8px 2px 8px;
    align-items: center;
}

.wborder {
    border-style: dotted;
    border-color: #EDEBEA;
    border-width: medium;
    margin: 25px;
}

.maxW {
    max-width: 800px;
    min-width: 200px;
    padding: 5px 5px 15px 5px;
}


.centered {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.cell {
    font-size: 1.5rem;
    color: #EDEBEA;
    margin: 5px;
    padding: 5px 15px;
    border-style: dotted;
    border-color: #946F5A;
    border-radius: 25px;
}

 * {box-sizing:border-box} 


.container {

    width: 100%;
    max-width: 300px;
    background-color: white;
    flex-direction: row;
    align-items: flex-start;
    font-size: larger;
}

.skills {
  text-align: center;
  padding-top: 5px;
  padding-bottom:5px;
  padding-left: 7px;
  color: #EDEBEA;
  font-size: larger;
    margin: 1px;
}

.skillsSoftware {
  text-align: center;
  padding-top: 5px;
  padding-bottom:5px;
  padding-left: 7px;
  margin: 1px;
  color: #EDEBEA;
  font-size: larger;
}

.unity {width: 29%; background-color: #3F7952;}
.unreal {width: 23%; background-color: #3F7952;}
.github {width: 32%; background-color: #3F7952;}
.blender {width: 37%; background-color: #3F7952;}
.micro {width: 55%; background-color: #3F7952;}

.finnish {width: 95%; background-color: #3F7952;}
.english {width: 85%; background-color: #3F7952;}
.greek {width: 55%; background-color: #3F7952;}
.bosnian {width: 37%; background-color: #3F7952;}
.swedish {width: 33%; background-color: #3F7952;}

.project {
    margin: 10px;
    background-color: #021967;
    border-style: dotted;
    border-color: #EDEBEA;
    height: 100%;
}

.padding {
    padding: 15px;
}

.underline {
    text-decoration: underline;
}
.smallText {
    font-size: small;
}
input[type=submit] {
    color:#EDEBEA;
}

input[type=text] {
width: 80%;
box-sizing: border-box;
}

#email {
    width:100%;
    margin: 5px 0; 
}
#content {
    width:100%;
    padding: 20px 40px;
    margin: 5px 0;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.videoWrapper {
    width: 100%;
    max-width:1000px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    overflow: hidden;
}

.videoWrapper iframe {
    
    left: 0;
    top:0;
    width: 100%;
    height: 100%;   
    border: none;
}

.paddingTop {
    padding-top: 25px;
}

@media screen and (max-width: 750px) {

    div{
        flex-direction: column;
    }
    #skillsWrapper {
        flex-direction: column;
        padding: 10px 5px 25px 5px;
        margin: 5px;
        align-items: center;
    }
    a{
        font-size: large;
    }

    .container{
        max-width: 250px;
    }

    .proText{
        padding: 10px 15px 30px 15px;
        font-size: medium;
    }

    .linksHeader {
        font-size: medium;
        margin:4px 2px;
        padding:4px;
    }
    .skills{
        padding-left: 2px;
        text-align: left;
    }

    p{
        font-size:small;
    }

    h2 {
        font-size: x-large;
    }

    h3, h4 {
        font-size: larger;
    }

}

@media only screen and (min-width: 2000px){
    
    header, footer, #contentWrapper{
    max-width: 2000px;
    margin: 0 auto;
    }
}
